
.cards{
    box-sizing: border-box;
    width: 14.5%;
    background-color: silver;
    margin: 10px 20px;
    border: 1px solid gray;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 10px 5px 5px rgb(177, 177, 177);
}
.cards:hover {
    transition: .5s;
    padding: 5px;
    box-shadow: -10px -5px 5px rgb(177, 177, 177);
}
.image img{
    width: 100%;
    height: 250px;
}
.title{
    color: #00121bfb;
    text-align: center;
     font-size: 30px;
     padding: 5px;
     border-bottom: 3px dotted #ff9800;
}
.des{
    text-align: center;
    padding: 5px;
}
button{
    margin: 20px 0px;
    padding: 15px;
    color: #fff;
    background-color: black;
    border: 1px solid #ff9800;
    border-radius: 5px ;
}
button:hover{
    color: #ff9800;
}
@media screen and (max-width: 1085px){
   .cards{
    width: 25%;
   }
}
@media screen and (max-width: 600px){
    
}