header{
    background: rgb(0, 214, 170,0.85);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
}
nav{
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: rgb(0, 214, 170,0.85);
    width: 100%;
    transform: scale(1,0);
    
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    margin-bottom: 1em ;
    margin-left: 1em;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
}
nav a:hover {
    color: #000;
}
.nav-taggle:checked ~ nav {
    transform: scale(1,1);
}
.nav-toggle {
    display: none;
}
.nav-toggle-label{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    border: 1px solid rgb(0, 214, 170,);
    height: 100%;
    display: flex;
    align-items: center;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after{
    content: ' ';
    position: absolute;
}
.nav-toggle-label span::before{
    bottom: 7px;
}
.nav-toggle-label span::after{
    top: 7px;
}