.header{
    width: 100%;
    height: 60px;
    background: #00121bfb;
    position: fixed;
    top: 0px;
}
.wrap-container{
    width: 80%;
    margin: 0px auto;
}
.brand-img{
    color: white;
    width: 170px;
    height: 40px;
    padding: 10px 0px;
    background: url('../../Img/d1012755355a150d7a33eda7a154e145.jpg');
    background-size: initial;
}

.menu ul li {
    list-style: none;
    display: inline;
    color: white;
    font-size: 18px;
    padding: 20px;
    line-height: 3.2;
}
.menu ul li:hover{
    background-color:  #ff99005d;
}

.menu ul a {
    text-decoration: none;
}
.header-images{
    float: left;
}
.menu{
    float: right;
}
.search-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
input{
    border: 3px solid  #ff9800;
    height: 40px;
    width:  300px;
    border-radius:50px;
    padding: 0px 11px;

}

@media screen and (max-width: 1080px){
    .menu{
        width: 100%;
        display: none;
    }
    input{
        width: 150px;
    }
}
